<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div class="main">
            <div id="people-data">
                <div class="header1">people:</div>
            </div>
            <div class="add-person">
                <div class="header2">add a person?</div>
                name: <input id="new-person-name">
                medium: <select id="new-person-medium">
                    <option value="poetry">poetry</option>
                    <option value="comedy">comedy</option>
                    <option value="visual">visual</option>
                    <option value="coding">coding</option>
                    <option value="writing">writing</option>
                    <option value="video">video</option>
                </select>
                <div id="add-person-btn" class="button">add bitch</div>
            </div>
            <div class="header1">prompt:</div>
            <div id="randomize-button" class="button">
                randomize
            </div>
            <div id="prompt-chosen"></div>
            </div>
            <div class="header1">crackathon:</div>
            <div class="header2">Master Kal... How would you like to organize?</div>
            <div class="form">
                <div class="option">
                    <div class="option-question">How many people per group?</div>
                    <div class="option-choices">
                        <div class="option-choice"><input id="number-input"></div>
                    </div>
                </div>
                <!-- <div class="option">
                    <div class="option-question">Do you want the people in the groups do have different interests or do you want it randomized?</div>
                    <div class="option-choices">
                        <div class="option-choice"></div>
                    </div>
                </div> -->
            </div>
            <div id="crackathon" class="button">lets do this</div>
            <div id="crackathon-results"></div>
        </div>
        <script src="data.js"></script>
        <script src="main.js"></script>
    </body>
</html>